.banner{ 
    height:400px; background:url("https://images.unsplash.com/photo-1496317899792-9d7dbcd928a1") 
    center/cover no-repeat; 
    display:flex; 
    align-items:center; 
    justify-content:center;
     text-align:center; 
     color:white;
     } 
 .banner h1{ 
        font-size:48px; font-weight:bold; } 
 footer{ 
    background:#222; color:white;
     padding:40px 0; }
footer a{ color:white;
     text-decoration:none; } 
footer a:hover{ text-decoration:underline; }
